


  .modal-open {
	overflow: hidden!important;
}

.modal-road-map .modal-dialog {
	max-width: 800px;
	width: 90%;
	top: 30vh;
	margin: 20px auto;
}
.modal-road-map .modal-body {
	padding: 30px;
	font-size: 18px;
}
.fade {
  transition: opacity 0.7s linear;
  -webkit-transition: opacity 0.7s linear;
  -moz-transition: opacity 0.7s linear;
  -ms-transition: opacity 0.7s linear;
  -o-transition: opacity 0.7s linear;
}
.modal-road-map .modal-header .close {
	color: #fff
}
.modal-road-map .modal-content {
  background-color: rgba(0,0,0,0.6)
}
/* h5.title.animated {
  animation: bg-shift 3s ease-in-out alternate-reverse, swing 3s ease-in-out both;
  -webkit-animation: bg-shift 3s ease-in-out alternate-reverse, swing 3s ease-in-out both;
}
h5.title.animated::before {
  animation: bg-shift2 3s ease-in-out alternate-reverse;
  -webkit-animation: bg-shift2 3s ease-in-out alternate-reverse;
} */

h5.title {
  margin-bottom: 10px;
  color: transparent;
  overflow: hidden;
  font-size: 22px;
  color: inherit;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}
/* h5.title {
  margin-bottom: 10px;
  color: transparent;
  overflow: hidden;
  font-size: 30px;
  background:  linear-gradient(#eee, #fcd462);
  background-size: 20px 20px, 20px 20px, 1px 1px;
  background-position: 0 0, 0 0, 0 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px linear-gradient(#eee, #fcd462);
  filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 2px rgb(252, 212, 98));
  
} */


h5.title::before {
  position: absolute;
  background: linear-gradient(transparent 30%, white, transparent 70%);
  -webkit-background-clip: text;
  /* animation: bg-shift2 3s ease-in-out alternate-reverse; */
  -webkit-text-stroke: 2px red;
  /* -webkit-animation: bg-shift2 3s ease-in-out alternate-reverse; */
}

@keyframes bg-shift {
  from {
	background-position: 0 50px;
  }
}

@keyframes bg-shift2 {
  0% {
	background-position: 0 50px;
  }

  50% {

	background-position: 0 -50px;

  }

  100% {
	background-position: 0 50px;
  }
}

@keyframes swing {
  0% {
	transform-origin: top;
	transform: perspective(350px)rotatex(35deg);
	-webkit-transform: perspective(350px)rotatex(35deg);
	-moz-transform: perspective(350px)rotatex(35deg);
	-ms-transform: perspective(350px)rotatex(35deg);
	-o-transform: perspective(350px)rotatex(35deg);
}

  33.333333% {
	transform: perspective(350px)rotatex(-35deg);
	-webkit-transform: perspective(350px)rotatex(-35deg);
	-moz-transform: perspective(350px)rotatex(-35deg);
	-ms-transform: perspective(350px)rotatex(-35deg);
	-o-transform: perspective(350px)rotatex(-35deg);
}

  66.666666% {
	transform-origin: top;
	transform: perspective(350px)rotatex(35deg);
	-webkit-transform: perspective(350px)rotatex(35deg);
	-moz-transform: perspective(350px)rotatex(35deg);
	-ms-transform: perspective(350px)rotatex(35deg);
	-o-transform: perspective(350px)rotatex(35deg);
}
  100% {
	  transform-origin: top;
	  transform: perspective(350px)rotatex(0deg);
	  -webkit-transform: perspective(350px)rotatex(0deg);
	  -moz-transform: perspective(350px)rotatex(0deg);
	  -ms-transform: perspective(350px)rotatex(0deg);
	  -o-transform: perspective(350px)rotatex(0deg);
}
}

.swing-in-bottom-fwd {
		  -webkit-animation: swing-in-bottom-fwd 0.5s  cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		  animation: swing-in-bottom-fwd 0.5s  cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		  animation-delay: 0.5s;
}


.flip-out-hor-top {
		  -webkit-animation: flip-out-hor-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		  animation: flip-out-hor-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* .animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
} */
.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

/* ----------------------------------------------
* Generated by Animista on 2020-11-3 13:39:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation swing-in-bottom-fwd
* ----------------------------------------
*/
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
	-webkit-transform: rotateX(100deg);
			transform: rotateX(100deg);
	-webkit-transform-origin: bottom;
			transform-origin: bottom;
	opacity: 0;
	visibility: hidden;
  }
  100% {
	-webkit-transform: rotateX(0);
			transform: rotateX(0);
	-webkit-transform-origin: bottom;
			transform-origin: bottom;
	opacity: 1;
	visibility: visible;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
	-webkit-transform: rotateX(100deg);
			transform: rotateX(100deg);
	-webkit-transform-origin: bottom;
			transform-origin: bottom;
	opacity: 0;
	visibility: hidden;
  }
  100% {
	-webkit-transform: rotateX(0);
			transform: rotateX(0);
	-webkit-transform-origin: bottom;
			transform-origin: bottom;
	opacity: 1;
	visibility: visible;
  }
}

/* ----------------------------------------------
* Generated by Animista on 2020-11-3 13:39:54
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation flip-out-hor-top
* ----------------------------------------
*/
@-webkit-keyframes flip-out-hor-top {
  0% {
	-webkit-transform: rotateX(0);
			transform: rotateX(0);
	opacity: 1;
	visibility: visible;
  }
  100% {
	-webkit-transform: rotateX(70deg);
			transform: rotateX(70deg);
	opacity: 0;
	visibility: hidden;
  }
}
@keyframes flip-out-hor-top {
  0% {
	-webkit-transform: rotateX(0);
			transform: rotateX(0);
	opacity: 1;
	visibility: visible;
  }
  100% {
	-webkit-transform: rotateX(70deg);
			transform: rotateX(70deg);
	opacity: 0;
	visibility: hidden;
  }
}


/** @section Timeline */
.section-timeline {
  position: relative;
  padding: 50px 0;
  z-index: 1;
  min-height: 600px;
  overflow: hidden;
}

.section-timeline .owl-style-1 {
  z-index: 1;
}

.timeline-svg {
  display: none;
  fill: none;
}

.timeline-svg-path1,
.timeline-svg-path {
  stroke-width: 3px;
  /* stroke: rgba(252, 212, 98, 0.6); */
}

.timeline-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px 50px;
  font-family: 'Poppins', sans-serif;
}

.timeline-dots a {
  /* color: inherit;
  opacity: 0.5; */
}

.timeline-dot {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 70px;
  border: 5px solid #0f4b00;
  border-radius: 50%;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transition: all .2s ease-in-out!important;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: #0f4b00;
  -webkit-transition: all .2s ease-in-out!important;
  -moz-transition: all .2s ease-in-out!important;
  -ms-transition: all .2s ease-in-out!important;
  -o-transition: all .2s ease-in-out!important;
}

.timeline-dot:nth-child(2), .timeline-dot:nth-child(3), .timeline-dot:nth-child(4) {
  opacity: 0;
  transition: all .2s ease-in-out;
}

.timeline-dot:nth-child(2) {
  transition-delay: .15s;
}

.timeline-dot:nth-child(3) {
  transition-delay: .3s;
}

.timeline-dot:nth-child(4) {
  transition-delay: .45s;
}

/* .timeline-dot::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: #3772FF;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
} */

.timeline-dot.active,.timeline-dot:hover {
    background-color: #3772FF;
    border: 5px solid #3772FF;
}

.timeline-dot.active::before {
    background-color: #fff;
}
.owl-item.active .timeline-dot:nth-child(1),
.owl-item.active .timeline-dot:nth-child(2), 
.owl-item.active .timeline-dot:nth-child(3), 
.owl-item.active .timeline-dot:nth-child(4) {
  opacity: 1;
}

.timeline-dot-time {
  position: absolute;
  bottom: calc( 100% + 12px);
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%);
}

.timeline-dot-title {
  position: absolute;
  top: calc( 100% + 14px);
  left: 50%;
  width: 70px;
  font-size: 16px;
  font-weight: 500;
  transform: translateX(-50%);
}

.timeline-dot-title a, .timeline-dot-title a:focus, .timeline-dot-title a:active {
  color: inherit;
}

.timeline-dot-title a:hover {
  color: #333;
}
@media (max-width: 575.82px) {
  .container-custom-1 {
	  min-height: 250px;
  }
}

.content-roadmap {
  display: none;
  position: absolute;
  width: calc(100% - 32px);
  max-width: 1000px;
  font-family: 'Poppins', sans-serif;
}
.content-roadmap p {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 575.82px) {
  .content-roadmap p {
	  font-size: 14px;
  }
}
.content-roadmap.active {
  display: block;
}
@media (max-width: 575.82px) {
  .section-timeline {
	  margin-bottom: 0px
  }
}

@media (min-width: 576px) {
  .section-timeline {
	  padding: 30px 0 0;
	  min-height: 750px;
  }
  .timeline-dots,
  .timeline-svg {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -1;
  }
  .timeline-svg {
	  display: block;
  }
  .timeline-dots {
	  display: block;
	  padding: 0;
  }
  .timeline-dot {
	  position: absolute;
	  transform: translate(-50%, -50%);
  }
  .timeline-dot:nth-child(1) {
	  top: 64%;
	  left: 23.9%;
  }
  .timeline-dot:nth-child(2) {
	  left: 40.1%;
	  top: 70%;
  }
  .timeline-dot:nth-child(3) {
	  left: 55.7%;
	  top: 52%;
  }
  .timeline-dot:nth-child(4) {
	  left: 74%;
	  top: 32%;
  }
  .timeline-dot-title {
	  font-size: 16px;
	  font-weight: 600;
	  width: 130px;
  }
}

@media (min-width: 768px) {
  .timeline-dot-time {
	  font-size: 16px;
	  bottom: calc( 100% + 22px);
  }
  .timeline-dot-title {
	  top: calc(100% + 24px);
  }
}
@media (max-width: 575.82px) {
  .timeline-dot-time,
  .timeline-dot-title {
	  font-size: 14px;
  }
  
}

.timeline-classic {
  position: relative;
  padding: 0 5px;
  font-size: 0;
  transform: translateY(-50%);
}

.timeline-classic-dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(0,0,0, 0.5);
}

.timeline-classic-dot::before {
  display: inline-block;
  content: '';
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: inherit;
  background: #333;
}

.timeline-classic-time {
  position: absolute;
  bottom: calc( 100% + 12px);
  left: 50%;
  width: 100%;
  max-width: 80px;
  font-size: 11px;
  font-weight: 500;
  transform: translateX(-50%);
}

.timeline-classic-title {
  position: absolute;
  top: calc( 100% + 14px);
  left: 50%;
  width: 100%;
  max-width: 80px;
  font-size: 11px;
  font-weight: 500;
  transform: translateX(-50%);
}

.timeline-classic-title a, .timeline-classic-title a:focus, .timeline-classic-title a:active {
  color: inherit;
}

.timeline-classic-title a:hover {
  color: #333;
}

.timeline-classic-bordered {
  display: block;
  font-size: 0;
  margin-bottom: -100px;
}

.timeline-classic-bordered::after {
  display: block;
  content: "";
  clear: both;
}

.timeline-classic-bordered > [class*='col-'] {
  display: inline-block;
  position: relative;
  min-height: 160px;
  float: left;
  border-top: 1px dashed rgba(0,0,0, 0.7);
}

.timeline-classic-bordered > [class*='col-']::before {
  position: absolute;
  display: none;
  content: '';
  top: -1px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #63CBEC;
}

.timeline-classic-bordered > [class*='col-']:nth-child(n+5):nth-child(-n+8), .timeline-classic-bordered > [class*='col-']:nth-child(n+13):nth-child(-n+16), .timeline-classic-bordered > [class*='col-']:nth-child(n+21):nth-child(-n+24), .timeline-classic-bordered > [class*='col-']:nth-child(n+29):nth-child(-n+32), .timeline-classic-bordered > [class*='col-']:nth-child(n+37):nth-child(-n+40) {
  float: right;
}

.timeline-classic-bordered > [class*='col-']:nth-child(n+5):nth-child(-n+8):last-child::before, .timeline-classic-bordered > [class*='col-']:nth-child(n+13):nth-child(-n+16):last-child::before, .timeline-classic-bordered > [class*='col-']:nth-child(n+21):nth-child(-n+24):last-child::before, .timeline-classic-bordered > [class*='col-']:nth-child(n+29):nth-child(-n+32):last-child::before, .timeline-classic-bordered > [class*='col-']:nth-child(n+37):nth-child(-n+40):last-child::before {
  right: auto;
  left: 0;
  transform: translate(-50%, -50%);
}

.timeline-classic-bordered > [class*='col-']:nth-child(4n):not(:nth-child(8n)):not(:last-child) {
  border-right: 1px dashed rgba(0,0,0, 0.7);
}

.timeline-classic-bordered > [class*='col-']:nth-child(8n):not(:nth-child(8n + 4)):not(:last-child) {
  border-left: 1px dashed rgba(0,0,0, 0.7);
}

.timeline-classic-bordered > [class*='col-']:last-child::before {
  display: inline-block;
  right: 0;
  transform: translate(50%, -50%);
}

.timeline-classic-bordered > [class*='col-']:first-child::before {
  display: inline-block;
  left: 0;
  right: auto;
  transform: translate(-50%, -50%);
}

* + .row.timeline-classic-bordered {
  margin-top: 75px;
}

@media (min-width: 576px) {
  .timeline-classic-time,
  .timeline-classic-title {
	  font-size: 12px;
  }
}

@media (min-width: 992px) {
  .timeline-classic-time,
  .timeline-classic-title {
	  font-size: 14px;
	  max-width: 100px;
  }
  .timeline-classic-bordered > [class*='col-'] {
	  padding-bottom: 14.7%;
  }
  * + .row.timeline-classic-bordered {
	  margin-top: 85px;
  }
}

@media (min-width: 1200px) {
  .timeline-classic-title {
	  font-size: 16px;
	  max-width: 100px;
  }
  .timeline-classic-bordered {
	  margin-bottom: -130px;
  }
}

.timeline-modern {
  position: relative;
  padding: 0 15px;
  font-size: 0;
}

.timeline-modern-dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #333;
}

.timeline-modern-dot::before {
  display: inline-block;
  content: '';
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: inherit;
  background: #FFD234;
}

.timeline-modern-time {
  position: absolute;
  bottom: calc( 100% + 16px);
  left: 50%;
  font-size: 12px;
  font-weight: 500;
  transform: translateX(-50%);
}

.timeline-modern-title {
  position: absolute;
  top: calc( 100% + 20px);
  left: 50%;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  transform: translateX(-50%);
}

.timeline-modern-title a, .timeline-modern-title a:focus, .timeline-modern-title a:active {
  color: inherit;
}

.timeline-modern-title a:hover {
  color: #333;
}

@media (min-width: 992px) {
  .timeline-modern-time,
  .timeline-modern-title {
	  font-size: 14px;
  }
  .timeline-modern-title {
	  top: calc( 100% + 28px);
  }
}

@media (min-width: 1200px) {
  .timeline-modern-title {
	  font-size: 16px;
  }
}

.timeline-creative {
  text-align: left;
  max-width: 320px;
}

.timeline-creative-time {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1748C8;
}

.timeline-creative-title {
  font-weight: 500;
  letter-spacing: -0.01em;
}

.timeline-creative-wrap {
  position: relative;
}

.timeline-creative-wrap::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-left: 1px solid #D7D7D7;
}

.timeline-creative-wrap .timeline-creative-item + .timeline-creative-item {
  margin-top: 30px;
}

.timeline-creative-item {
  position: relative;
}

.timeline-creative-item::before, .timeline-creative-item::after {
  position: absolute;
  content: '';
  top: 46%;
}

.timeline-creative-item::before {
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1748C8;
  background-image: radial-gradient(circle closest-side, rgba(0,0,0, 0.7) 37%, transparent 47%);
  transform: translate(-50%, -50%);
}

.timeline-creative-item::after {
  width: 7%;
  height: 0;
  left: 10%;
  border-top: 1px solid #D7D7D7;
}

.timeline-creative-item:nth-child(odd) {
  justify-content: flex-end;
}

.timeline-creative-item > * {
  padding-left: 21%;
}

* + .timeline-creative-title {
  margin-top: 8px;
}

* + .timeline-creative-text {
  margin-top: 8px;
}

* + .timeline-creative-wrap {
  margin-top: 40px;
}

.timeline-creative-wrap + .button {
  margin-top: 40px;
}

@media (min-width: 576px) {
  .timeline-creative-wrap::before {
	  left: 50%;
  }
  .timeline-creative-item::before {
	  left: 50%;
  }
  .timeline-creative-item:nth-child(odd)::after {
	  left: 52.5%;
  }
  .timeline-creative-item:nth-child(odd) > * {
	  padding-left: 11.5%;
  }
  .timeline-creative-item:nth-child(even)::after {
	  left: auto;
	  right: 52.5%;
  }
  .timeline-creative-item:nth-child(even) > * {
	  padding-left: 15px;
	  padding-right: 11.5%;
  }
  .timeline-creative-item:nth-child(even) .timeline-creative {
	  margin-left: auto;
  }
}

@media (min-width: 768px) {
  .timeline-creative-item::before {
	  width: 24px;
	  height: 24px;
  }
  .timeline-creative-wrap .timeline-creative-item + .timeline-creative-item {
	  margin-top: 35px;
  }
  * + .timeline-creative-title {
	  margin-top: 14px;
  }
  * + .timeline-creative-text {
	  margin-top: 16px;
  }
  * + .timeline-creative-wrap {
	  margin-top: 50px;
  }
  .timeline-creative-wrap + .button {
	  margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .timeline-creative-wrap .timeline-creative-item + .timeline-creative-item {
	  margin-top: 45px;
  }
  * + .timeline-creative-wrap {
	  margin-top: 70px;
  }
  .timeline-creative-wrap + .button {
	  margin-top: 70px;
  }
}

* + .owl-carousel {
  margin-top: 30px;
}
.owl-carousel + .button {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .owl-carousel + .button {
	  margin-top: 45px;
  }
  * + .owl-carousel {
	  margin-top: 40px;
  }
}
@media (min-width: 992px) {
  * + .owl-carousel {
	  margin-top: 50px;
  }
  .owl-carousel + .button {
	  margin-top: 65px;
  }
}

/** @section Owl Carousel */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-dots {
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  user-select: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
  /* overflow: hidden; */
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .owl-nav {
  pointer-events: none;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  font-size: 25px;
  line-height: 1;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
  transition: all .25s ease-in-out;
}

.owl-carousel .owl-prev::before, .owl-carousel .owl-prev::after,
.owl-carousel .owl-next::before,
.owl-carousel .owl-next::after {
  display: block;
  font-family: 'Flaticon';
}

.owl-carousel .owl-prev, .owl-carousel .owl-prev:focus,
.owl-carousel .owl-next,
.owl-carousel .owl-next:focus {
  color: inherit;
  background: transparent;
}

.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover {
  color: #3772FF;
  text-decoration: none;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  color: inherit;
  cursor: default;
  opacity: 0.4;
}

.owl-carousel .owl-prev {
  left: 10px;
}

.owl-carousel .owl-prev::before {
  content: '\f10e';
}

.owl-carousel .owl-next {
  right: 10px;
}

.owl-carousel .owl-next::before {
  content: '\f115';
}

.owl-carousel .owl-dots {
  position: relative;
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .owl-carousel .owl-dots {
	  margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .owl-carousel .owl-dots {
	  margin-top: 70px;
  }
}

@media (min-width: 1200px) {
  .owl-carousel .owl-dots {
	  margin-top: 85px;
  }
}

.owl-carousel .owl-dot {
  display: inline-block;
  zoom: 1;
  margin: 0 9px;
}

.owl-carousel .owl-dot span {
  display: block;
  width: 18px;
  height: 18px;
  background: rgba(0,0,0, 0.4);
  -webkit-backface-visibility: visible;
  transition: all .2s ease-in-out;
  transform: scale(0.8);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .owl-carousel .owl-dot span {
	  width: 16px;
	  height: 16px;
	  transform: scale(0.625);
  }
}

.owl-carousel .owl-dot.active span, .owl-carousel .owl-dot:hover span {
  background: #333;
}

.owl-carousel .owl-dot.active span {
  transform: none;
}

.context-light .owl-carousel .owl-dot span, .bg-white .owl-carousel .owl-dot span, .bg-gray-100 .owl-carousel .owl-dot span, .bg-gray-1 .owl-carousel .owl-dot span {
  background: #BCBCBC;
}

.context-light .owl-carousel .owl-dot.active span, .bg-white .owl-carousel .owl-dot.active span, .bg-gray-100 .owl-carousel .owl-dot.active span, .bg-gray-1 .owl-carousel .owl-dot.active span, .context-light .owl-carousel .owl-dot:hover span, .bg-white .owl-carousel .owl-dot:hover span, .bg-gray-100 .owl-carousel .owl-dot:hover span, .bg-gray-1 .owl-carousel .owl-dot:hover span {
  background: #63CBEC;
}

.owl-nav-1 .owl-prev,
.owl-nav-1 .owl-next {
  width: 53px;
  height: 53px;
  font-size: 28px;
  line-height: 53px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.owl-nav-1 .owl-prev, .owl-nav-1 .owl-prev:focus,
.owl-nav-1 .owl-next,
.owl-nav-1 .owl-next:focus {
  color: #1748C8;
  background: #333;
}

.owl-nav-1 .owl-prev:hover,
.owl-nav-1 .owl-next:hover {
  color: #FFD234;
}

.owl-nav-1 .owl-prev::before {
  content: '\f237';
}

.owl-nav-1 .owl-next::before {
  content: '\f238';
}

.owl-nav-2 .owl-prev,
.owl-nav-2 .owl-next {
  font-size: 36px;
  line-height: 1;
}

.owl-nav-2 .owl-prev, .owl-nav-2 .owl-prev:focus,
.owl-nav-2 .owl-next,
.owl-nav-2 .owl-next:focus {
  color: #333;
}

.owl-nav-2 .owl-prev:hover,
.owl-nav-2 .owl-next:hover {
  color: rgba(0,0,0, 0.7);
}

.owl-nav-2 .owl-prev::before {
  content: '\f237';
}

.owl-nav-2 .owl-next::before {
  content: '\f238';
}

.owl-style-1::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 3px solid rgba(0,0,0, 0.3);
  transform: translate3d(0, -50%, 0);
}

.owl-style-1 .owl-stage-outer {
  overflow: initial;
}

.owl-style-1 .owl-nav {
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: calc( 100% + 25px);
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.owl-style-1 .owl-prev,
.owl-style-1 .owl-next {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  transform: none;
}

.owl-style-1 .owl-prev::after,
.owl-style-1 .owl-next::after {
  position: absolute;
  content: '';
  width: 0;
  height: 40px;
  border-left: 1px solid #3772FF;
  transform: translate3d(0, -50%, 0) rotate(32deg);
}

.owl-style-1 .owl-prev {
  padding-right: 15px;
}

.owl-style-1 .owl-prev::after {
  top: 50%;
  right: 0;
}

.owl-style-1 .owl-next {
  margin-left: 15px;
  padding-left: 15px;
}

.owl-style-1 .owl-next::after {
  top: 50%;
  left: 0;
}

@media (min-width: 576px) {
  .owl-style-1::before {
	  display: none;
  }
  .owl-style-1 .owl-item {
	  position: static;
	  height: 100%;
  }
  .owl-style-1,
  .owl-style-1 .owl-stage-outer,
  .owl-style-1 .owl-stage {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
  }
  .owl-style-1 .owl-nav {
	  top: auto;
	  left: auto;
	  bottom: 10%;
	  right: 10%;
	  transform: none;
  }
  .owl-style-1 .owl-prev {
	  padding-right: 25px;
  }
  .owl-style-1 .owl-prev::after {
	  height: 70px;
  }
  .owl-style-1 .owl-next {
	  margin-top: 38px;
	  margin-left: 0;
	  padding-left: 25px;
  }
  .owl-style-1 .owl-next::after {
	  top: 35%;
	  left: -5px;
	  height: 90px;
  }
}

@media (min-width: 768px) {
  .owl-style-1 .owl-nav {
	  bottom: 20%;
	  right: 15%;
  }
}

@media (min-width: 1200px) {
  .owl-style-1 .owl-nav {
	  bottom: 24%;
	  right: 26%;
  }
}

* + .owl-style-1 {
  margin-top: 15px;
}

@media (min-width: 576px) {
  * + .owl-style-1 {
	  margin-top: 0;
  }
}

.owl-style-2 .owl-stage-outer {
  margin: -30px -15px;
  padding: 30px 15px;
}

@media (min-width: 1200px) {
  * + .owl-style-2 {
	  margin-top: 70px;
  }
}

.owl-style-3 .owl-stage-outer {
  margin: 0 -30px;
  padding: 0 30px;
}

.owl-style-3 .owl-prev {
  left: -22%;
}

.owl-style-3 .owl-next {
  right: -22%;
}

.owl-style-3 .owl-nav {
  display: none;
}

@media (min-width: 576px) {
  .owl-style-3 .owl-nav {
	  display: block;
  }
  .owl-style-3 .owl-dots {
	  display: none;
  }
}

* + .owl-style-3 {
  margin-top: 28px;
}

.owl-style-4 {
  padding: 0 20px;
}

.owl-style-4 .owl-stage-outer {
  padding: 55px 0;
}

.owl-style-4 .owl-stage-outer::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: rgba(0,0,0, 0.7);
  border-top: 1px solid;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .owl-style-4 .owl-stage-outer {
	  padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .owl-style-4 .owl-stage-outer {
	  padding: 75px 0;
  }
}

.owl-style-4 .owl-prev {
  left: -10px;
}

.owl-style-4 .owl-next {
  right: -10px;
}

* + .owl-style-4 {
  margin-top: 35px;
}

.owl-style-5 .owl-stage {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .owl-style-5 .owl-dots {
	  margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  * + .owl-style-5 {
	  margin-top: 60px;
  }
}
