@font-face {
    font-family: 'Spicy Rice';
    src: url('SpicyRice-Regular.woff2') format('woff2'),
        url('SpicyRice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

