#pwe-main-menu {
  max-height: calc(100% - 232px);
  overflow: scroll;
}

@media screen and (max-width: 575.82px) {
  .btn-contact a, button.btn-contact {
    padding: 10px 15px;
    font-size: 11px;
  }
}

.order-detail .table th {
  border: unset;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border: 1px solid #dee2e6;
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
}

@media screen and (max-width: 575.82px) {
  .order-detail .table th {
    display: none;
  }
  .order-detail .table th td {
    text-align: left;
  }
}

@media screen and (max-width: 575.82px) and (max-width: 575.82px) {
  .order-detail .table th td {
    font-size: 14px;
  }
  .order-detail .table th td span {
    color: #a2783a;
    font-weight: 900;
    font-size: 24px;
  }
}

@media screen and (max-width: 575.82px) and (max-width: 575.82px) and (max-width: 575.82px) {
  .order-detail .table th td span {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .order-detail .table .table-mobile tr {
    padding: unset;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: table;
    width: 100%;
    border: unset;
    border-bottom: 0px solid #dee2e6;
  }
}

@media screen and (max-width: 767px) {
  .order-detail .table .table-mobile tr td, .order-detail .table .table-mobile tr th {
    padding-left: 35% !important;
  }
}

.item-box {
  margin-bottom: 20px;
}

.box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.package .btn-contact a {
  padding: 20px 30px;
}

.detail-package-section .custom-file {
  height: auto;
}

.detail-package-section .custom-file label {
  font-size: 17px;
  font-weight: 400;
  height: auto;
  padding: 7px 15px;
  line-height: 1.75em;
  border-radius: unset;
  border-color: #ececec;
}

.detail-package-section .custom-file label::after {
  display: none;
}

.table td, .table th {
  vertical-align: middle;
}

.style-quare {
  list-style-type: square;
  padding-left: 15px;
  margin-bottom: unset;
}

.checkout-section .billing_details {
  margin-bottom: 30px;
}

.checkout-section .billing_details .your_order {
  margin-bottom: 30px;
}

.checkout-section .billing_details .your_order .order_table_box {
  position: relative;
  width: 100%;
}

.checkout-section .billing_details .your_order .order_table_box .order_table_detail {
  width: 100%;
  border: unset;
}

.checkout-section .billing_details .your_order .order_table_box .order_table_detail tr, .checkout-section .billing_details .your_order .order_table_box .order_table_detail th, .checkout-section .billing_details .your_order .order_table_box .order_table_detail td {
  border: unset;
}

.checkout-section .billing_details .your_order .order_table_box .order_table_detail tr thead, .checkout-section .billing_details .your_order .order_table_box .order_table_detail th thead, .checkout-section .billing_details .your_order .order_table_box .order_table_detail td thead {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}

.checkout-section .billing_details .your_order .order_table_box .order_table_detail tr thead tbody td.pro__price, .checkout-section .billing_details .your_order .order_table_box .order_table_detail th thead tbody td.pro__price, .checkout-section .billing_details .your_order .order_table_box .order_table_detail td thead tbody td.pro__price {
  text-align: right;
  color: #a2783a;
  font-size: 24px;
  font-weight: 900;
}

.checkout-section .billing_details .payments_part {
  padding: 40px 35px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-section .billing_details .payments_part .payments_part_text {
  padding-left: 15px;
}

.checkout-section .billing_details .payments_part .payments_part_text .paypal_card {
  position: relative;
  float: right;
  padding-left: 15px;
}

.checkout-section .billing_details .payments_part .payments_part_text .paypal_card img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.checkout-section .billing_details .place_order_btn {
  margin-top: 50px;
  float: right;
}

.user-section .statistic .statistic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-section .statistic .statistic-item .box-content h2 {
  font-weight: 700;
  color: #666;
}

.user-section .statistic .statistic-item .box-content p {
  margin: 0;
}

.user-section .statistic .statistic-item .box-icon {
  font-size: 35px;
}

.user-section .statistic .statistic-item:hover .box-content h2 {
  color: #000;
}

.user-section .statistic .statistic-item:hover .box-icon {
  color: #000;
}

.nav-pills .nav-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.nav-pills .nav-item .nav-link {
  width: 100%;
  border-radius: unset;
  color: #000;
  font-weight: 700;
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link .show > .nav-link {
  color: #000;
  background-color: unset;
  border-bottom: 1px solid #a2783a;
}

.tab-content .tab-pane form .bank {
  padding: 6px 10px;
  width: 100%;
  color: #777;
  outline: none;
  font-size: 16px;
}

.tab-content .tab-pane .agile_pay .box-button p {
  margin-bottom: unset;
}

.datetime-section .card {
  border: unset;
}

.datetime-section .card .fc-clear {
  clear: both;
}

.datetime-section .card .fc-bg, .datetime-section .card .fc-bgevent-skeleton, .datetime-section .card .fc-highlight-skeleton, .datetime-section .card .fc-helper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-bg {
  bottom: 0;
}

.datetime-section .card .fc-bg table {
  height: 100%;
}

.datetime-section .card .fc table {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
}

.datetime-section .card .fc tr {
  border: unset;
}

.datetime-section .card .fc th {
  text-align: center;
  border-style: solid;
  border-width: 1px 1px 0 1px !important;
  padding: 0;
  border-color: #ececec;
  vertical-align: top;
}

.datetime-section .card .fc td {
  border-style: solid;
  border-width: 1px 1px 0 1px !important;
  padding: 0;
  border-color: #ececec;
  vertical-align: top;
}

.datetime-section .card .fc .fc-row {
  border-style: solid;
  border-width: 0;
}

.datetime-section .card .fc-row {
  position: relative;
  background: #ffffff;
}

.datetime-section .card .fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}

.datetime-section .card .fc-row:first-child table {
  border-top: 0 hidden transparent;
}

.datetime-section .card .fc-row .fc-bg {
  z-index: 1;
}

.datetime-section .card .fc-row .fc-bgevent-skeleton,
.datetime-section .card .fc-row .fc-highlight-skeleton {
  bottom: 0;
}

.datetime-section .card .fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

.datetime-section .card .fc-row .fc-bgevent-skeleton td {
  border-color: transparent;
}

.datetime-section .card .fc-row .fc-highlight-skeleton {
  z-index: 3;
}

.datetime-section .card .fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
}

.datetime-section .card .fc-row .fc-helper-skeleton {
  z-index: 5;
}

.datetime-section .card .fc .fc-row .fc-content-skeleton table, .datetime-section .card .fc .fc-row .fc-content-skeleton td {
  background: none;
  border-color: transparent;
  padding: .5rem .5rem;
}

.datetime-section .card .fc .fc-row .fc-helper-skeleton td {
  background: none;
  border-color: transparent;
  padding: .5rem .5rem;
}

.datetime-section .card .fc-row .fc-content-skeleton td, .datetime-section .card .fc-row .fc-helper-skeleton td {
  border-bottom: 0;
}

.datetime-section .card .fc-row .fc-content-skeleton tbody td, .datetime-section .card .fc-row .fc-helper-skeleton tbody td {
  border-top: 0;
}

.datetime-section .card .fc-scroller {
  -webkit-overflow-scrolling: touch;
}

.datetime-section .card .fc-scroller > .fc-day-grid, .datetime-section .card .fc-scroller > .fc-time-grid {
  position: relative;
  width: 100%;
}

.datetime-section .card .fc-event {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  border-radius: 3px;
  font-weight: 500;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  position: relative;
}

.datetime-section .card .fc-event-dot {
  background-color: #ffffff;
  color: #a2783a;
  position: relative;
}

.datetime-section .card .fc-event:before, .datetime-section .card .fc-event-dot:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50px;
  height: 100%;
  border-left: 3px solid #a2783a;
  border-bottom: 3px solid #a2783a;
  border-radius: 3px 0px 0px 3px;
}

.datetime-section .card .fc-event {
  color: #fff;
  text-decoration: none;
}

.datetime-section .card .fc-event .fc-title {
  font-weight: 500;
}

.datetime-section .card .fc-event i {
  color: #a2783a;
  font-size: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.datetime-section .card .fc-event:hover {
  color: #fff;
  text-decoration: none;
}

.datetime-section .card .fc-event[href], .datetime-section .card .fc-event.fc-draggable {
  cursor: pointer;
}

.datetime-section .card .fc-not-allowed {
  cursor: not-allowed;
}

.datetime-section .card .fc-not-allowed .fc-event {
  cursor: not-allowed;
}

.datetime-section .card .fc-event .fc-bg {
  z-index: 1;
  background: #fff;
  opacity: .25;
}

.datetime-section .card .fc-event .fc-content {
  color: #1c1c1c;
  position: relative;
  z-index: 2;
  padding: 8px;
  font-family: 'Nunito Sans', sans-serif;
}

.datetime-section .card .fc-event .fc-resizer {
  position: absolute;
  z-index: 4;
  display: none;
}

.datetime-section .card .fc-event.fc-allow-mouse-resize .fc-resizer {
  display: block;
}

.datetime-section .card .fc-event.fc-selected {
  z-index: 9999 !important;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.datetime-section .card .fc-event.fc-selected .fc-resizer {
  display: block;
}

.datetime-section .card .fc-event.fc-selected .fc-resizer:before {
  content: "";
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.datetime-section .card .fc-event.fc-selected.fc-dragging {
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.datetime-section .card .fc-h-event.fc-selected:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-ltr .fc-h-event.fc-not-start, .datetime-section .card .fc-rtl .fc-h-event.fc-not-end {
  margin-left: 0;
  border-left-width: 0;
  padding-left: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.datetime-section .card .fc-ltr .fc-h-event.fc-not-end, .datetime-section .card .fc-rtl .fc-h-event.fc-not-start {
  margin-right: 0;
  border-right-width: 0;
  padding-right: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.datetime-section .card .fc-ltr .fc-h-event .fc-start-resizer, .datetime-section .card .fc-rtl .fc-h-event .fc-end-resizer {
  cursor: w-resize;
  left: -1px;
}

.datetime-section .card .fc-ltr .fc-h-event .fc-end-resizer, .datetime-section .card .fc-rtl .fc-h-event .fc-start-resizer {
  cursor: e-resize;
  right: -1px;
}

.datetime-section .card .fc-h-event.fc-allow-mouse-resize .fc-resizer {
  width: 7px;
  top: -1px;
  bottom: -1px;
}

.datetime-section .card .fc-h-event.fc-selected .fc-resizer {
  border-radius: 4px;
  border-width: 1px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  top: 50%;
  margin-top: -4px;
}

.datetime-section .card .fc-ltr .fc-h-event.fc-selected .fc-start-resizer, .datetime-section .card .fc-rtl .fc-h-event.fc-selected .fc-end-resizer {
  margin-left: -4px;
}

.datetime-section .card .fc-ltr .fc-h-event.fc-selected .fc-end-resizer, .datetime-section .card .fc-rtl .fc-h-event.fc-selected .fc-start-resizer {
  margin-right: -4px;
}

.datetime-section .card .fc-day-grid-event {
  margin: 1px 2px 0;
  padding: 0;
}

.datetime-section .card tr:first-child > td > .fc-day-grid-event {
  margin-top: 2px;
}

.datetime-section .card .fc-day-grid-event.fc-selected:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: #000;
  opacity: .25;
}

.datetime-section .card .fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
}

.datetime-section .card .fc-day-grid-event .fc-time {
  font-weight: bold;
}

.datetime-section .card .fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer, .datetime-section .card .fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
  margin-left: -2px;
}

.datetime-section .card .fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer, .datetime-section .card .fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
  margin-right: -2px;
}

.datetime-section .card a.fc-more {
  margin: 1px 3px;
  font-size: .85em;
  cursor: pointer;
  text-decoration: none;
}

.datetime-section .card a.fc-more:hover {
  text-decoration: underline;
}

.datetime-section .card .fc-limited {
  display: none;
}

.datetime-section .card .fc-day-grid .fc-row {
  z-index: 1;
}

.datetime-section .card .fc-more-popover {
  z-index: 2;
  width: 220px;
}

.datetime-section .card .fc-more-popover .fc-event-container {
  padding: 10px;
}

.datetime-section .card .fc-now-indicator {
  position: absolute;
  border: 0 solid red;
}

.datetime-section .card .fc-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.datetime-section .card .fc-unthemed th, .datetime-section .card .fc-unthemed td, .datetime-section .card .fc-unthemed thead, .datetime-section .card .fc-unthemed tbody, .datetime-section .card .fc-unthemed .fc-divider, .datetime-section .card .fc-unthemed .fc-row, .datetime-section .card .fc-unthemed .fc-content, .datetime-section .card .fc-unthemed .fc-popover, .datetime-section .card .fc-unthemed .fc-list-view, .datetime-section .card .fc-unthemed .fc-list-heading td {
  border-color: #ddd;
}

.datetime-section .card .fc-unthemed .fc-popover {
  background-color: #fff;
}

.datetime-section .card .fc-unthemed .fc-divider, .datetime-section .card .fc-unthemed .fc-popover .fc-header, .datetime-section .card .fc-unthemed .fc-list-heading td {
  background: #eee;
}

.datetime-section .card .fc-unthemed .fc-popover .fc-header .fc-close {
  color: #666;
}

.datetime-section .card .fc-unthemed td.fc-today {
  background: #fcf8e3;
}

.datetime-section .card .fc-unthemed .fc-disabled-day {
  background: #d7d7d7;
  opacity: .3;
}

.datetime-section .card .fc-icon {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datetime-section .card .fc-icon:after {
  position: relative;
}

.datetime-section .card .fc-icon-left-single-arrow:after {
  content: "\2039";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
}

.datetime-section .card .fc-icon-right-single-arrow:after {
  content: "\203A";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
}

.datetime-section .card .fc-icon-left-double-arrow:after {
  content: "\AB";
  font-size: 160%;
  top: -7%;
}

.datetime-section .card .fc-icon-right-double-arrow:after {
  content: "\BB";
  font-size: 160%;
  top: -7%;
}

.datetime-section .card .fc-icon-left-triangle:after {
  content: "\25C4";
  font-size: 125%;
  top: 3%;
}

.datetime-section .card .fc-icon-right-triangle:after {
  content: "\25BA";
  font-size: 125%;
  top: 3%;
}

.datetime-section .card .fc-icon-down-triangle:after {
  content: "\25BC";
  font-size: 125%;
  top: 2%;
}

.datetime-section .card .fc-icon-x:after {
  content: "\D7";
  font-size: 200%;
  top: 6%;
}

.datetime-section .card .fc-unthemed .fc-popover {
  border-width: 1px;
  border-style: solid;
}

.datetime-section .card .fc-unthemed .fc-popover .fc-header .fc-close {
  font-size: .9em;
  margin-top: 2px;
}

.datetime-section .card .fc-unthemed .fc-list-item:hover td {
  background-color: #f5f5f5;
}

.datetime-section .card .ui-widget .fc-disabled-day {
  background-image: none;
}

.datetime-section .card .fc-popover > .ui-widget-header + .ui-widget-content {
  border-top: 0;
}

.datetime-section .card .ui-widget .fc-event {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.datetime-section .card .ui-widget td.fc-axis {
  font-weight: normal;
}

.datetime-section .card .fc-time-grid .fc-slats .ui-widget-content {
  background: none;
}

.datetime-section .card .fc.fc-bootstrap3 a {
  text-decoration: none;
}

.datetime-section .card .fc.fc-bootstrap3 a[data-goto]:hover {
  text-decoration: underline;
}

.datetime-section .card .fc-bootstrap3 hr.fc-divider {
  border-color: inherit;
}

.datetime-section .card .fc-bootstrap3 .fc-today.alert {
  border-radius: 0;
}

.datetime-section .card .fc-bootstrap3 .fc-popover {
  padding: 0;
}

.datetime-section .card .fc-bootstrap3 .fc-time-grid .fc-slats table {
  background: none;
}

.datetime-section .card .fc.fc-bootstrap4 a {
  text-decoration: none;
}

.datetime-section .card .fc.fc-bootstrap4 a[data-goto]:hover {
  text-decoration: underline;
}

.datetime-section .card .fc-bootstrap4 hr.fc-divider {
  border-color: inherit;
}

.datetime-section .card .fc-bootstrap4 .fc-today.alert {
  border-radius: 0;
}

.datetime-section .card .fc-bootstrap4 a.fc-event:not([href]):not([tabindex]) {
  color: #a2783a;
}

.datetime-section .card .fc-bootstrap4 .fc-popover.card {
  position: absolute;
}

.datetime-section .card .fc-bootstrap4 .fc-popover .card-body {
  padding: 0;
}

.datetime-section .card .fc-bootstrap4 .fc-time-grid .fc-slats table {
  background: none;
}

.datetime-section .card .fc-toolbar {
  text-align: center;
  display: block;
}

.datetime-section .card .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1em;
}

.datetime-section .card .fc-toolbar.fc-footer-toolbar {
  margin-top: 1em;
}

.datetime-section .card .fc-toolbar .fc-left {
  float: left;
}

.datetime-section .card .fc-toolbar .fc-right {
  float: right;
}

.datetime-section .card .fc-toolbar .fc-right .btn-group {
  margin-left: 10px;
}

.datetime-section .card .fc-toolbar .fc-center {
  display: inline-block;
}

.datetime-section .card .fc button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: auto;
  padding: 0 1rem;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.datetime-section .card .fc .fc-toolbar > {
  float: left;
  margin-left: .75em;
}

.datetime-section .card .fc .fc-toolbar > :first-child {
  margin-left: 0;
}

.datetime-section .card .fc-toolbar h2 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
}

.datetime-section .card .fc-toolbar button {
  position: relative;
}

.datetime-section .card .fc-toolbar .fc-state-hover, .datetime-section .card .fc-toolbar .ui-state-hover {
  z-index: 2;
}

.datetime-section .card .fc-toolbar .fc-state-down {
  z-index: 3;
}

.datetime-section .card .fc-toolbar .fc-state-active, .datetime-section .card .fc-toolbar .ui-state-active {
  z-index: 4;
}

.datetime-section .card .fc-toolbar button:focus {
  z-index: 5;
}

.datetime-section .card .fc-view-container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.datetime-section .card .fc-view-container:before, .datetime-section .card .fc-view-container:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.datetime-section .card .fc-view {
  position: relative;
  z-index: 1;
}

.datetime-section .card .fc-view > table {
  position: relative;
  z-index: 1;
}

.datetime-section .card .fc-basicWeek-view .fc-content-skeleton, .datetime-section .card .fc-basicDay-view .fc-content-skeleton {
  padding-bottom: 1em;
}

.datetime-section .card .fc-basic-view .fc-body .fc-row {
  min-height: 4em;
}

.datetime-section .card .fc-row.fc-rigid {
  overflow: hidden;
}

.datetime-section .card .fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-day-top.fc-other-month {
  opacity: 0.3;
}

.datetime-section .card .fc-basic-view .fc-week-number, .datetime-section .card .fc-basic-view .fc-day-number {
  padding: 2px;
  color: rgba(52, 40, 104, 0.8);
  font-size: 15px;
  font-weight: 400;
}

.datetime-section .card .fc-basic-view th.fc-week-number, .datetime-section .card .fc-basic-view th.fc-day-number {
  padding: 0 2px;
}

.datetime-section .card .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
}

.datetime-section .card .fc-rtl .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}

.datetime-section .card .fc-ltr .fc-basic-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 3px 0;
}

.datetime-section .card .fc-rtl .fc-basic-view .fc-day-top .fc-week-number {
  float: right;
  border-radius: 0 0 0 3px;
}

.datetime-section .card .fc-basic-view .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}

.datetime-section .card .fc-basic-view td.fc-week-number {
  text-align: center;
}

.datetime-section .card .fc-basic-view td.fc-week-number > {
  display: inline-block;
  min-width: 1.25em;
}

.datetime-section .card .fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
}

.datetime-section .card .fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
}

.datetime-section .card .fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 1em;
}

.datetime-section .card .fc .fc-axis {
  vertical-align: middle;
  padding: 0 4px;
  white-space: nowrap;
}

.datetime-section .card .fc-ltr .fc-axis {
  text-align: right;
}

.datetime-section .card .fc-rtl .fc-axis {
  text-align: left;
}

.datetime-section .card .fc-time-grid-container {
  position: relative;
  z-index: 1;
}

.datetime-section .card .fc-time-grid {
  position: relative;
  z-index: 1;
  min-height: 100%;
}

.datetime-section .card .fc-time-grid table {
  border: 0 hidden transparent;
}

.datetime-section .card .fc-time-grid > .fc-bg {
  z-index: 1;
  background: #fff;
}

.datetime-section .card .fc-time-grid .fc-slats, .datetime-section .card .fc-time-grid > hr {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

.datetime-section .card .fc-time-grid .fc-content-col {
  position: relative;
}

.datetime-section .card .fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-time-grid .fc-business-container {
  position: relative;
  z-index: 1;
}

.datetime-section .card .fc-time-grid .fc-bgevent-container {
  position: relative;
  z-index: 2;
}

.datetime-section .card .fc-time-grid .fc-highlight-container {
  position: relative;
  z-index: 3;
}

.datetime-section .card .fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
}

.datetime-section .card .fc-time-grid .fc-now-indicator-line {
  z-index: 5;
}

.datetime-section .card .fc-time-grid .fc-helper-container {
  position: relative;
  z-index: 6;
}

.datetime-section .card .fc-time-grid .fc-slats td {
  height: 1.5em;
  border-bottom: 0;
  padding: 10px;
}

.datetime-section .card .fc-agendaDay-view .fc-time-grid .fc-slats td {
  background: #ffffff;
}

.datetime-section .card .fc-time-grid .fc-slats .fc-minor td {
  border-top-style: dotted;
}

.datetime-section .card .fc-time-grid .fc-highlight-container {
  position: relative;
}

.datetime-section .card .fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-ltr .fc-time-grid .fc-event-container {
  margin: 0 2.5% 0 2px;
}

.datetime-section .card .fc-rtl .fc-time-grid .fc-event-container {
  margin: 0 2px 0 2.5%;
}

.datetime-section .card .fc-time-grid .fc-event {
  position: absolute;
  z-index: 1;
}

.datetime-section .card .fc-time-grid .fc-bgevent {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-v-event.fc-not-start {
  border-top-width: 0;
  padding-top: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.datetime-section .card .fc-v-event.fc-not-end {
  border-bottom-width: 0;
  padding-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.datetime-section .card .fc-time-grid-event {
  overflow: hidden;
}

.datetime-section .card .fc-time-grid-event.fc-selected {
  overflow: visible;
}

.datetime-section .card .fc-time-grid-event.fc-selected .fc-bg {
  display: none;
}

.datetime-section .card .fc-time-grid-event .fc-content {
  overflow: hidden;
}

.datetime-section .card .fc-time-grid-event .fc-time,
.datetime-section .card .fc-time-grid-event .fc-title {
  padding: 0 1px;
}

.datetime-section .card .fc-time-grid-event .fc-time {
  font-size: .85em;
  white-space: nowrap;
}

.datetime-section .card .fc-time-grid-event.fc-short .fc-content {
  white-space: nowrap;
}

.datetime-section .card .fc-time-grid-event.fc-short .fc-time,
.datetime-section .card .fc-time-grid-event.fc-short .fc-title {
  display: inline-block;
  vertical-align: top;
}

.datetime-section .card .fc-time-grid-event.fc-short .fc-time span {
  display: none;
}

.datetime-section .card .fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
}

.datetime-section .card .fc-time-grid-event.fc-short .fc-time:after {
  content: "\A0-\A0";
}

.datetime-section .card .fc-time-grid-event.fc-short .fc-title {
  font-size: .85em;
  padding: 0;
}

.datetime-section .card .fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}

.datetime-section .card .fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
  content: "=";
}

.datetime-section .card .fc-time-grid-event.fc-selected .fc-resizer {
  border-radius: 5px;
  border-width: 1px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}

.datetime-section .card .fc-time-grid .fc-now-indicator-line {
  border-top-width: 1px;
  left: 0;
  right: 0;
}

.datetime-section .card .fc-time-grid .fc-now-indicator-arrow {
  margin-top: -5px;
}

.datetime-section .card .fc-ltr .fc-time-grid .fc-now-indicator-arrow {
  left: 0;
  border-width: 5px 0 5px 6px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.datetime-section .card .fc-rtl .fc-time-grid .fc-now-indicator-arrow {
  right: 0;
  border-width: 5px 6px 5px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.datetime-section .card .fc-event-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.datetime-section .card .fc-rtl .fc-list-view {
  direction: rtl;
}

.datetime-section .card .fc-list-view {
  border-width: 1px;
  border-style: solid;
}

.datetime-section .card .fc .fc-list-table {
  table-layout: auto;
}

.datetime-section .card .fc-list-table td {
  border-width: 1px 0 0;
  padding: 8px 14px;
}

.datetime-section .card .fc-list-table tr:first-child td {
  border-top-width: 0;
}

.datetime-section .card .fc-list-heading {
  border-bottom-width: 1px;
}

.datetime-section .card .fc-list-heading td {
  font-weight: bold;
}

.datetime-section .card .fc-ltr .fc-list-heading-main {
  float: left;
}

.datetime-section .card .fc-ltr .fc-list-heading-alt {
  float: right;
}

.datetime-section .card .fc-rtl .fc-list-heading-main {
  float: right;
}

.datetime-section .card .fc-rtl .fc-list-heading-alt {
  float: left;
}

.datetime-section .card .fc-list-item.fc-has-url {
  cursor: pointer;
}

.datetime-section .card .fc-list-item-marker, .datetime-section .card .fc-list-item-time {
  white-space: nowrap;
  width: 1px;
}

.datetime-section .card .fc-ltr .fc-list-item-marker {
  padding-right: 0;
}

.datetime-section .card .fc-rtl .fc-list-item-marker {
  padding-left: 0;
}

.datetime-section .card .fc-list-item-title a {
  text-decoration: none;
  color: inherit;
}

.datetime-section .card .fc-list-item-title a[href]:hover {
  text-decoration: underline;
}

.datetime-section .card .fc-list-empty-wrap2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.datetime-section .card .fc-list-empty-wrap1 {
  width: 100%;
  height: 100%;
  display: table;
}

.datetime-section .card .fc-list-empty {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.datetime-section .card .fc-unthemed .fc-list-empty {
  background-color: #eee;
}

.datetime-section .card .fc th.fc-day-header {
  padding: 11px 7px;
  font-size: 16px;
  font-weight: 400;
}

.datetime-section .card .fc-day.fc-today, .datetime-section .card .fc-day.alert-info {
  background: rgba(52, 40, 104, 0.03);
}

.datetime-section .card .datepicker {
  z-index: 123456;
}

.datetime-section .card .card {
  border: 0;
  background: transparent;
}

.datetime-section .card h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #002147;
  margin-bottom: 20px;
}

.datetime-section .card .btn {
  font-size: 15px !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-family: 'Nunito', sans-serif;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
  padding: 10px 20px !important;
}

.datetime-section .card .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.datetime-section .card .btn.btn-primary {
  background: #a2783a;
  color: #ffffff;
}

.datetime-section .card .btn.btn-primary.active {
  opacity: .6;
}

.datetime-section .card .form-group label {
  font-weight: 600;
  letter-spacing: 0.010em;
  font-size: 18px;
  margin-bottom: 5px;
}

.datetime-section .card .modal-body {
  background: #F3F5F9;
  border-radius: 10px;
}

.datetime-section .card .modal-body h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #002147;
  margin-bottom: 20px;
}

.datetime-section .card .modal-body .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
}

.datetime-section .card .related-product {
  padding: 80px 0;
}

.datetime-section .card .related-product .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.datetime-section .card .related-product ul {
  padding: 0;
  margin: 0;
}

.datetime-section .card .related-product ul li {
  margin-bottom: 30px;
  list-style-type: none;
}

.datetime-section .card .related-product ul li h3 {
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0;
}

.datetime-section .card .related-product ul li a {
  font-weight: 600;
  color: #3b484a;
  text-align: center;
}

.datetime-section .card .related-product ul li a img {
  max-width: 100%;
  display: block;
}

.datetime-section .card .related-box {
  max-width: 400px;
  margin: 0 auto;
}

.datetime-section .card .download-btn {
  padding: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datetime-section .card .download-btn .fa {
  font-size: 40px;
  margin-right: 10px;
}

.datepickers-container {
  z-index: 100000;
}

.event-icon {
  margin-right: 10px;
}

.calendar-modal .modal-title {
  margin-bottom: 20px;
  color: #a2783a;
}

.calendar-modal .modal-title .event-title {
  font-family: 'Nunito Sans', sans-serif;
}

.calendar-modal .modal-content h4 {
  color: #a2783a;
}

.default-bg {
  background-color: #fff;
}

.blue-bg {
  background-color: blue;
}

.red-bg {
  background-color: red;
}

.green-bg {
  background-color: green;
}
/*# sourceMappingURL=custom.css.map */