.content-cate {
	padding: 0;
	background: none;
	background-size: cover;
	background-position: center;
}
.content-cate-fx {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.content-cate-text {
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
}
.content-cate-text h3 {
	color: white;
	font-size: 50px;
	font-weight: 300;
}
.pos-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.mac {
	top: calc(50% + 28px);
    left: calc(50% + 193px);
}
.mac img {
	max-width: 600px;

}
.b_layer-1 {
	z-index: 400;
}
.b_layer-2 {
	z-index: 200;
}
.b_layer-3 {
	z-index: 100;
}

.ball-1 {
	top: calc(50% + 92px);
    left: calc(50% - 188px);
}
.ball-1 img {
	max-width: 62px;
}
.ball-2 {
	top: calc(50% + 94px);
    left: calc(50% - 118px);
}
.ball-2 img {
	max-width: 130px;
}
.ball-3 {
	top: calc(50% + 189px);
    left: calc(50% - 13px);
}
.ball-3 img {
	max-width: 70px;
}

.ball-5 {
	top: calc(50% + 39px);
    left: calc(50% + 512px);
}
.ball-5 img {
	max-width: 67px;
}
.ball-6 {
	top: calc(50% - 201px);
    left: calc(50% + 553px);
}
.ball-6 img {
	max-width: 131px;
}
.ball-7 {
	top: calc(50% - 145px);
    left: calc(50% + 425px);
}
.ball-7 img {
	max-width: 220px;
}
.ball-8 {
	top: calc(50%);
    left: calc(50% + 430px);
}
.ball-8 img {
	max-width: 170px;
}

.ball-4 {
	top: calc(50% + 317px);
    left: calc(50% + 600px);
}
.ball-4 img {
	max-width: 300px;
}

.ball-9 {
	top: calc(50% - 150px);
    left: calc(50% - 178px);
}
.ball-9 img {
	max-width: 60px;
}
.ball-10 {
	top: calc(50% - 230px);
    left: calc(50% - 225px);
}
.ball-10 img {
	max-width: 36px;
}
.ball-11 {
	top: calc(50% - 358px);
    left: calc(50% + 24px);
}
.ball-11 img {
	max-width: 100px;
}

@media (max-width: 575px) {
	.content-cate-text {
		left: -200px;
		z-index: 1000;
	}
}