@media screen and (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
  }
}

body, html {
  width: 100vw;
  overflow-x: hidden;
}

.topbar .container {
  position: relative;
}

.questions-style .image-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions-style .image-form .image-hoverstyle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.questions-style .image-form .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767.82px) {
  .questions-style .image-form .image {
    padding-bottom: 100%;
  }
}

.questions-style .image-form .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.questions-style .form-questions {
  width: 100%;
}

.what-we-do-content .image-box:hover .image::before {
  -webkit-animation: shine2 1s;
          animation: shine2 1s;
}

.what-we-do-content .image-box .image {
  position: relative;
  padding-bottom: 60%;
}

.what-we-do-content .image-box .image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-new .image-box:hover .image::before {
  -webkit-animation: shine2 1s;
          animation: shine2 1s;
}

.blog-new .image-box .image {
  position: relative;
  padding-bottom: 60%;
}

.blog-new .image-box .image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us .image {
  position: relative;
  padding-bottom: 100%;
}

.about-us .image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.window-service-style .image-hover {
  position: relative;
}

.window-service-style .image {
  position: relative;
  padding-bottom: 110%;
}

.window-service-style .image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.window-service-style .flat-appointment {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.window-service2 .image {
  position: relative;
  padding-bottom: 76%;
}

.window-service2 .image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.window-service2 .image:hover::before {
  -webkit-animation: shine2 1s;
          animation: shine2 1s;
}

.image-profolio {
  position: relative;
}

.image-profolio:hover .image::before {
  -webkit-animation: shine2 1s;
          animation: shine2 1s;
}

.image-profolio .image {
  position: relative;
  padding-bottom: 60%;
}

.image-profolio .image img {
  top: 0;
  left: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-profolio.img_1 .image, .image-profolio.img_2 .image, .image-profolio.img_3 .image, .image-profolio.img_4 .image {
  padding-bottom: 60%;
}

.image-profolio.img_5 .image {
  padding-bottom: calc(120% + 30px);
}

.carosel-testimonials .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carosel-testimonials .owl-stage .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999999;
  background-image: url(../images/10.jpg);
  background-size: cover;
}

.loading-container svg {
  max-width: 750px;
  max-height: 100%;
  padding: 35px;
  overflow: unset;
  width: 100%;
  opacity: 0;
}

.loading-container svg .home-svg {
  fill-opacity: 0;
  stroke-width: 1px;
  stroke: #003060;
}

.loading-container svg .title-loading {
  fill-opacity: 0;
  stroke-width: 1px;
  stroke: #BDA269;
  -webkit-filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4));
}

.loading-container svg .img-loading {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4));
}

.loading-container svg .text-logo path {
  transform-box: fill-box;
}

@media screen and (max-width: 767.82px) {
  .tf-topbar {
    left: 0;
  }
}

.pro-slider .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pro-slider .owl-carousel .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pro-slider .owl-carousel .owl-nav.disabled {
  top: -23.4%;
  right: 0;
}

.pro-slider .owl-carousel .owl-nav .owl-prev::after, .pro-slider .owl-carousel .owl-nav .owl-next::after {
  background-color: rgba(255, 255, 255, 0.8);
}

.pro-slider .owl-carousel .owl-nav .owl-prev:hover::after, .pro-slider .owl-carousel .owl-nav .owl-next:hover::after {
  background-color: #ceaf69;
}

.pro-slider .item-pro {
  margin-bottom: 30px;
}

.box-border ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-border ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.box-border ul li.boder-botom:nth-of-type(2n) {
  border-right: none;
}

.box-border ul li.boder-botom:nth-of-type(n+3) {
  border-bottom: none;
}

.box-company .icon-img {
  width: 75px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-box-about .image {
  position: relative;
  padding-bottom: 70%;
}

.image-box-about .image img {
  top: 0;
  left: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-award {
  margin-top: 30px;
  margin-bottom: 0px;
}

.box-award ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.box-award ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 30px);
          flex: 0 0 calc(50% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.06);
  padding: 15px;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.82px) {
  .box-award ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
  }
  .box-award ul li:last-child {
    margin-bottom: 0;
  }
}

.box-award .content-aw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.box-award .content-aw span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  margin-right: 15px;
}

.box-award .content-aw span b {
  font-size: 50px;
  color: #ceaf69;
}

.box-award .content-aw .img-aw {
  margin-left: 10px;
}

.box-award .content-aw .img-aw img {
  width: 90px;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767.82px) {
  .box-company {
    padding: 20px 15px;
  }
}

.flat-slider .image-slider {
  max-width: 615px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 646px;
}

.flat-slider .image-slider img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  max-height: 646px;
}

@media screen and (max-width: 767.82px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.windowmarvel-spacer {
  width: 100%;
}

.about-style .about-image {
  width: 100%;
}

.about-style .about-image .image {
  position: relative;
}

.about-style .about-image .image img {
  top: 0;
  left: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-style .about-image .imgstyle1 {
  width: calc(100% - 62px);
}

.about-style .about-image .imgstyle1 .image {
  padding-bottom: 150%;
}

.about-style .about-image .imgstyle2 {
  width: calc(100% - 62px);
  margin-bottom: 50px;
}

.about-style .about-image .imgstyle2 .image {
  padding-bottom: 150%;
}

.what-we-do-style2 .image-box:hover .image::before {
  -webkit-animation: shine2 1s;
          animation: shine2 1s;
}

.what-we-do-style2 .image-box .image {
  position: relative;
  padding-bottom: 60%;
  z-index: 1;
}

.what-we-do-style2 .image-box .image img {
  top: 0;
  left: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.what-we-do-style .image-box .content-imagebox p {
  color: #003060;
}

.title-section {
  width: 100%;
}

.features {
  position: relative;
  z-index: 4;
}

.service-slider .image-profolio .image {
  padding-bottom: 120%;
}

.service-slider .image-profolio .image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.service-slider .owl-carousel .owl-nav.disabled {
  right: 50%;
  top: unset;
  bottom: 15px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.content-icon-box .iconlist-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-icon-box .iconlist-about li {
  margin-right: 15px;
}

.iconlist-about.iconlist-about-style2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iconlist-about.iconlist-about-style2 li {
  margin-right: 15px;
}

.tf-testimonials-door .image-box .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tf-testimonials-door .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tf-testimonials-door .owl-carousel .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tf-testimonials-door .tf-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tf-testimonials-door .tf-testimonial .boxtestimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-post-content .title-section {
  width: auto;
}

.main-post .featured-post .entry-image {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
  border-radius: 8px;
}

.main-post .featured-post .entry-image img {
  top: 0;
  left: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-contact img {
  width: 100%;
}
/*# sourceMappingURL=custom.css.map */